{
    "extends": [
        "fcn",
        "fcn/jsdoc"
    ],
    "rules": {
        "space-before-function-paren": ["error", {
            "named": "ignore"
        }],
        "indent": ["error", 4, {
            "SwitchCase": 1
        }]
    },
    "env": {
        "node": true,
        "es6": true,
        "mocha": true,
        "commonjs": true
    }
}
